<section class="section resize section4" id="installation-et-utilisation" data-number="4">

	<div class="wrapper clearfix">
		<div class="content">
			
		</div>
		{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.title })) }}
		<div class="block-container clearfix">	

			{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.setupstep })) }}

		</div>
		<div class="push-lightbox">
			{{ render_esi(controller('MajesCmsBundle:Index:block', { 'block' : content.setupvideo })) }}
		</div>

	</div>
	<div class="footer">
		<a href="#" class="continue" data-continue="section5">{% trans %}continuer la visite{% endtrans %}</a>
	</div>
</section>