/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  body {
    overflow-x: hidden;
  }
  .responsive.smartphone {
    display: block;
  }
  #menu.show {
    display: none;
  }
  nav {
    display: none;
  }
  .cloud,
  .facebook.google {
    display: none;
  }
  .wrapper {
    width: 100%;
  }
  /** SECTION 0 **/
  #section0 .wrapper {
    width: 100%;
    text-align: center;
  }
  #section0 .wrapper img {
    width: 50%;
  }
  #section0 .wrapper h1 {
    font-size: 3rem;
    line-height: 36px;
    margin: 25px auto;
    text-align: center;
    width: 90%;
  }
  #section0 .wrapper ul {
    margin-left: 5%;
  }
  #section0 .wrapper ul li {
    text-align: left;
    margin-bottom: 10px;
    font-size: 2.2rem;
    width: 80%;
    display: block;
  }
  #section0 .wrapper ul li:last-child {
    clear: both;
  }
  #section0 .wrapper .push {
    margin: 0;
  }
  #section0 .wrapper .push a.video {
    background-size: 50%;
    height: 214px;
  }
  #section0 .wrapper .push a.video span {
    background-size: 70%;
    font-size: 2.4rem;
    padding-top: 29px;
  }
  /** SECTION 1 **/
  .mobile section div,
  .mobile section span {
    position: relative;
  }
  #alcatel-logo {
    display: none;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .responsive.ipad {
    display: block;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* DEFAULT SITE SIZE Desktops and laptops  ----------- */
@media only screen and (min-width: 1224px) and (max-width: 1823px) {
  /* Styles */
  .responsive.desktop {
    display: block;
  }
  #section3 li.part .container .cell.centered {
    height: 61px;
    height: 50px;
    font-size: 16px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  .responsive.large {
    display: block;
  }
  #section0 .wrapper {
    padding-top: 10%;
  }
  #section1 .circle {
    width: 320px;
    height: 280px;
    padding-top: 40px;
  }
  #section2 h1 {
    margin-top: 3%;
  }
  #section2 h1 {
    bottom: 680px;
    left: 0;
    position: absolute;
  }
  #section3 .wrapper {
    padding-top: 10%;
  }
  #section4 .wrapper {
    padding-top: 10%;
  }
  #section5 .wrapper {
    padding-top: 10%;
  }
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
