
.section h1{
	font-size:400;
}

.browser.ie9{
	display:block;
}


#section3 .offer-custom{
		background: url('../images/section3/circle-customise.png') left top no-repeat;
		width:155px;
		height:155px;
		border-radius: 0;
}