# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
app/var/sessions/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#codekit
config.codekit

# Composer
#composer.phar

web/media/*