{% for id, item in block.items %}
{{wysiwygTagBegin(block, item, lang)|raw}}
<!--
<ul>
	<li>
		<a href="#" class="video modal" data-reveal-id="myModal" data-reveal-ajax="http://some-url">Voir la vidéo <strong>d'installation</strong></a>
		<div class="content hidden">
				<div class="download">
						{{item.attributes.video.value.value|raw}}
						 <a class="close-reveal-modal">&#215;</a>	
					</div>
				</div>
		
	</li>
	<li>
		<a href="#" class="light modal" data-reveal-id="myModal" data-reveal-ajax="http://some-url">Pourquoi choisir le <strong>Phone Alert d'Alcatel</strong></a>
		<div class="content hide">
			<div class="download">
				{{item.attributes.why.value.value|raw}}
				 <a class="close-reveal-modal">&#215;</a>	
			</div>
		</div>
		
	</li>
</ul>
-->
{{wysiwygTagEnd()|raw}}
{% endfor %}